.bg-dark {
background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}
.nav-title {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
